/* Container principal */
.invitation-container {
    width: 100%;
    height: 100dvh;
    overflow-y: auto; /* în loc de scroll */
    -webkit-overflow-scrolling: touch;
    position: relative;
    perspective: 1200px;
    font-family: 'Great Vibes', cursive;
    background-color: #b4b2b2;
    border: 2px solid #d2b48c;
    border-radius: 12px;

}

.letter-top-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #eae7e7;
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 50% 100%, 0% 48%);
    /* combina umbra exterioara si inset pentru volum */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9), /* umbra dreapta jos */ inset 0 5px 15px rgba(0, 0, 0, 0.1); /* adancime interior */
    transform-origin: center;
    transition: height 2s cubic-bezier(0.77, 0, 0.175, 1),
    transform 2s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 1;
    pointer-events: none;
}


/* Top / Bottom */
.letter-top-container,
.letter-bottom-container {
    position: absolute;
    width: 100%;
    background-color: #eae7e7;
    /*box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.1);*/
    transition: height 2s cubic-bezier(0.77, 0, 0.175, 1),
    transform 2s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 1;
    pointer-events: none;
}


.expanded-top-container {
    height: 0;
    transform: rotateX(-110deg);
}

.letter-bottom-container {
    bottom: 0;
    height: 50%;
    transform-origin: bottom;
}

.expanded-bottom-container {
    height: 0;
    transform: rotateX(75deg);
}

/* Middle content */
.middle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.6s ease;
}

.expanded-middle-container {
    transform: translate(50%, 160px) rotateX(-40deg);
    opacity: 0;
    pointer-events: none;
    /*animation: sealMoveAndFade 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;*/
}


.invite-title {
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: #5c3d2e;
    margin-bottom: 0.5rem;
}

.invite-date {
    font-size: clamp(1.8rem, 5vw, 3rem);
    color: #5c3d2e;
    margin-bottom: 1rem;
}

.open-button {
    position: relative;
    margin-top: -40px;
    z-index: 20;
    width: 240px;
    height: 100%;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.open-button:hover {
    transform: scale(1.08) rotate(-2deg);
}

.wedding-names {
    font-size: clamp(3.5rem, 5vw, 3rem);
}

/* --- Mobile --- */
@media (max-width: 430px) {
    .invitation-container {
        width: 100%;
        height: 100vh;
        border-radius: 8px;
    }

    .invite-title {
        font-size: clamp(1.8rem, 5vw, 3rem);
    }

    .invite-date {
        font-size: clamp(1.8rem, 5vw, 3rem);
    }


    .wax-seal {
        width: 70px;
        height: 50px;
        bottom: 15px;
        right: 15px;

    }

    .letter-top-container,
    .letter-bottom-container {
        height: 50%;
    }

    .expanded-top-container,
    .expanded-bottom-container {
        height: 40%;
    }

    .expanded-middle-container {
        transform: translate(-50%, -110px) rotateX(-35deg);

    }
}

@media (max-width: 768px) {

    .invitation-container {
        perspective: none;
    }

    .letter-top-container,
    .letter-bottom-container {
        transform: none !important;
        transition: height 2s ease-out;
    }


    .expanded-top-container {
        height: 40%;
        animation: sealMoveAndFade 2s forwards;
    }

    .expanded-bottom-container {
        height: 40%;
        animation: sealMoveAndFade 2s forwards;
    }

    .middle-container {
        transition: transform 2s ease, opacity 1s ease;

    }

    .expanded-middle-container {
        transform: translate(-50%, -120px);
        opacity: 0;
    }
}

@keyframes sealMoveAndFade {
    0% {
        transform: translateX(-50%) translateY(0) translateZ(0) scale(1);
        opacity: 1;
    }

    20% {
        transform: translateX(-50%) translateY(-40px) translateZ(0) scale(0.95);
        opacity: 0.75;
    }

    35% {
        transform: translateX(-50%) translateY(-60px) translateZ(0) scale(0.9);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(-80px) translateZ(0) scale(0.8);
        opacity: 0;
        pointer-events: none;
    }
}


.text-content {
    text-align: center;
    color: black;
    animation: revealText 2s linear forwards; /* 'forwards' keeps the final state (visible) after the animation ends */
}

@keyframes revealText {
    /* At the start of the animation */
    0% {
        clip-path: inset(100% 0 0 0);
        opacity: 0;
    }
    50% {
        /*clip-path: inset(20% 100% 0 0);*/
        opacity: 0.5;
    }
    /* At the end of the animation */
    100% {
        /* Reveal 100% of the text width */
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}




